@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import "reset.css";

/* components */
@import "components/status-bar.css"; 
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

@import "variable.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 150vh;
    color: #2e363e;
}

ul {
    list-style: none;
}

.main-screen {
    padding: var(--horizonal-space);
}

