.find-icons {
    display: flex;
    justify-content: space-between;
    
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon span {
    margin-top: 15px;
}

.recommend {
    margin-top: 15px;
    border-top: var(--main-border);
    padding-top: 15px;
    border-bottom: var(--main-border);
}

.recommend-title {
    color: var(--grey);
}

.recommend-text span {
    /* padding: 100px 70px; */
   margin: 110px 0;
   text-align: center;
   display: block;
   color: var(--grey);
}

.open-chat {
    margin-top: 15px;
}

.open-chat__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    opacity: 0.6;
}

.open-chat__top span {
    opacity: 0.4;
}

.open-post {
    display: flex;
    justify-content: space-between;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtag {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img {
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    margin: 0 3px;
    width: 2px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
    color: plum;
}

.open-post__column2 {
    position: relative;
}

.open-post__column2 img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.heart {
    width: 70px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.heart i {
    margin-right: 8px;
    font-size: 10px;
}
