.welcome-header {
    margin: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text {
    width: 50%;
    font-size: 16px;
    opacity: 0.6;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

#login-form input {
    border: none;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.6s ease-in-out;
}

#login-form::placeholder {
    color:rgba(0, 0, 0, 0.2);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding:20px 0;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}