.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: var(--main-border);
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__chat {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    left: 35px;
}