.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__chat {
    background-color:tomato;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification {
    background-color: tomato;
    width: 8px;
    height: 8px;
    display: flex;
    border-radius: 10px;
    position: absolute;
    left: 35px;
}