.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizonal-space);
}

.screen-header__title {
    font-size: 38px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 15px;
    cursor: pointer;
}