.user-component {
    justify-content: space-between;
    margin-bottom: 15px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__picture {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 15px;
}

.user-component__picture--xl {
    width: 60px;
    height: 60px;
}

.user-component__picture--sm {
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

.user-component__title {
    font-size: 26px;
    font-weight: 600;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__subtitle {
    font-size: 18px;
    opacity: 0.5;
    margin-top: 6px;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}